<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Full Menu
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="full-menu-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'menu_items' %}" class="dropdown-item">Full Menu</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="drinks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Protein Drinks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="drinks-link">                
                <a href="" class="dropdown-item">Smoothies</a>
                <a href="" class="dropdown-item">Frappés</a>
                <a href="" class="dropdown-item">Energy Drinks</a>
                <a href="" class="dropdown-item">All Drinks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="snacks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Protein Snacks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Bars</a>
                <a href="" class="dropdown-item">Flapjacks</a>
                <a href="" class="dropdown-item">Cookies</a>
                <a href="" class="dropdown-item">Crisps</a>
                <a href="" class="dropdown-item">Pancakes</a>
                <a href="" class="dropdown-item">All Snacks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="meals-link">
                Protein Meals
            </a>            
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="deals-link">
                Deals
            </a>            
        </li>
    </ul>
</div>